#response {
    border: 1px solid #ccc;
            padding: 10px;
            height: 300px;
            overflow-y: auto;
}

#askButton {
    margin-left: 10px;
}

#questionInput {
    width: 150px;
}

.eva-message {
    color: rgb(241, 126, 145);
}

.jake-message {
    color: blue;
}