<!DOCTYPE html>
<html>
<head>
    <title>Simple Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Ask a Question:</h1>
    <form id="questionForm" action="/ask" method="POST">
        <input type="text" name="question" id="questionInput" placeholder="Your question">

        <input type="submit" value="Ask">
        <button type="button" id="clear-button">Clear</button>
        
    </form>
    <h2>Assistant:</h2>
    <div id="answers"></div>
    <div id="weather-info">{{ weather_info | safe }}</div>
    <script src="/static/main.js"></script>
</body>
</html>
